<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Welcome <span data-th-text="${name}"></span></h1>
    <h2>Search for a Pokemon TCG card</h2>

    <form method="get" action="/search/cards">
        <div>
            <label for="name">Card Name: </label>
            <input type="text" name="name">
        </div>
        <button type="submit">Search</button>
    </form>
</body>
</html>